@import '../../css/dimens.scss';

.row {
  display: flex;
  flex-direction: row;
}

.row--1 {
  & > .col {
    width: 100%;
  }
}

.row--2 {
  & > .col {
    width: 50%;
  }
}

.row--3 {
  & > .col {
    width: 33.333333%;
  }
}

.row--4 {
  & > .col {
    width: 25%;
  }
}

@media (max-width: dimens(phone)) {
  .row {
    display: block;

    & > .col {
      width: 100%;
    }
  }
}
