.project {
  height: 100%;
  width: 100%;
  background-color: #aaa;
  background-size: cover;
}

.project__modal {
  position: fixed;
  z-index: 4;
  // margin: 0 auto;
  // max-width: 400px;
  // top: 20%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.project__modal--open {
  display: flex;
}

.project__modalInner {
  background-color: #fff;
  max-width: 800px;
  margin-top: -5em;
  position: relative;
  border-radius: 4px;
  padding-bottom: 2.9em;

  h2 {
    font-size: 2em;
    padding: 0.5em 5%;
  }

  p {
    padding: 0 5%;
    line-height: 1.6;
  }

  svg {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    text-shadow: 0 0 5px #eee;
  }

  img {
    margin-bottom: 0.9em;
    display: block;
    border-bottom: solid 1px #eee;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
}
