@import '../../css/dimens.scss';

.container--full {
  width: 100%;
}

.container--boxed {
  max-width: dimens();
  margin: 0 auto;
}

.container--blog {
  max-width: 800px;
}

.container--padding {
  padding: 0 5%;
}

@media (max-width: 1120px) {
  .container--full,
  .container--boxed {
    width: 100%;
    padding: 0 5%;
  }
}
