@import '../../css/dimens.scss';

container--full {
  width: 100%;
}

.container--boxed {
  max-width: dimens();
  margin: 0 auto;
}

.container--blog {
  max-width: 800px;
}

.container--padding {
  padding: 0 5%;
}
