@import '../../css/dimens.scss';

@mixin headline {
  font-size: 1.4em;
  color: color(primary, headline);
  margin-bottom: 2em;
  text-align: center;
  font-family: Hind, sans-serif;
}

.topContact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 4em;
}

.topContact__contactButton {
  padding: 0.9em 3.75%;
  font-size: 0.98em;
  border: none;
  cursor: pointer;
  margin: 0 2%;
  border-radius: 0.2em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

.topContact__emailButton {
  line-height: 1.8;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 1px;

  i {
    font-size: 1.3em;
    vertical-align: middle;
    margin-right: 10px;
  }
}

.aboutText__textBox {
  margin-bottom: 2em;

  h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #616161;
    font-weight: 300;
  }

  p {
    color: #888;
    font-weight: 300;
    line-height: 1.7;
    margin-bottom: 1em;
  }
}

.aboutText__row {
  padding: 1em 0;

  & > div:nth-child(odd) {
    padding: 0 3% 0 0;
  }

  & > div:nth-child(even) {
    padding: 0 0 0 3%;
  }
}

.aboutText__headline,
.headline {
  @include headline;
}

.aboutText {
  padding: 4em 0 4em 0;
  background-color: #f9f9f9;
}

.aboutText__boxed {
  max-width: 850px;
}

.project {
  height: 200px;
}

.topBanner {
  h1 {
    margin-bottom: 0.1em;
    font-weight: 600;
    line-height: 1;
  }

  h2 {
    margin-bottom: 1.4em;
  }

  button:nth-child(1) {
    margin-right: 2em;
  }

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.icons {
  padding: 4em;
}

.projects__row {
  & > div {
    padding: 0 1em;
  }
}

.project {
  box-shadow: 0 0 3px #ddd;
}

@media (max-width: dimens(phone)) {
  .topBanner {
    button {
      margin-top: 1em;
    }
  }

  .icons {
    padding: 4em 0 1em;
  }

  .icons__row > div {
    margin-bottom: 3em;
  }

  .aboutText__row {
    padding: 0 5%;

    & > div:nth-child(odd) {
      padding: 0;
    }

    & > div:nth-child(even) {
      padding: 0;
    }
  }

  .topContact {
    flex-direction: column;
    padding: 0 5%;

    & > button {
      margin-bottom: 2em;
    }
  }

  .projects__row {
    width: 100%;

    & > div {
      width: 100%;
      padding: 0% 10%;
    }
  }
}

@media (max-width: dimens(tablet)) {
  .project {
    margin: 0;
    margin-bottom: 4em;
    width: 100%;
    box-shadow: 0 0 3px #ddd;
  }

  .projects__row {
    width: 100%;

    & > div {
      width: 100%;
      padding: 0% 1em;
    }
  }
}
