$colors: (
  primary: (default: #0079b1, headline: #222, text: #888),
  secondary: (headline: #616161, text: #666),
  banner: (default: rgba(0, 121, 177, 0.8), green: #0f0, blue: #00f, red: #f00)
);

@function color($color-name: primary, $color-variant: null) {
  // color variant is optional
  @if ($color-variant != null) {
    // map inception
    @return map-get(map-get($colors, $color-name), $color-variant);
  }

  @else {
    @return map-get(map-get($colors, $color-name), default);
  }
}
