$colors: (
  primary: (default: #0079b1, headline: #222, text: #444),
  secondary: (headline: #616161, text: #888),
  banner: (default: rgba(0, 121, 177, 0.8), green: #0f0, blue: #00f, red: #f00),
  link: (default: #0079b1, hover: #0079b1),
  logo: (title: #111, subtitle: #777),
  header: (navLink: #555, navLinkUnderline: #0079b1)
);

@function color($color-name: primary, $color-variant: null) {
  // color variant is optional
  @if ($color-variant != null) {
    // map inception
    @return map-get(map-get($colors, $color-name), $color-variant);
  }

  @else {
    @return map-get(map-get($colors, $color-name), default);
  }
}
