@import '../../css/colors.scss';

@mixin post {
  padding: 1.4em 0;
  color: color(primary, text);
  font-weight: 300;
  line-height: 1.7;
  font-size: 1.07em;

  p {
    margin-bottom: 1em;
  }

  time {
    color: #555;
    font-weight: 400;
    margin-bottom: 1em;
    display: block;
    font-size: 0.98em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: color(primary, headline);
    line-height: 1.3;
    font-family: Hind, sans-serif;
  }

  h1 {
    font-size: 2.2em;
    color: #222;
    margin-bottom: 0.5em;
    font-weight: 500;
  }

  h2 {
    color: #333;
    font-size: 1.35em;
    margin-bottom: 0.1em;
    font-weight: 500;
  }

  h3 {
    font-size: 1.15em;
    font-weight: bold;
    line-height: 2;
  }

  h4 {
    line-height: 2;
    font-size: 1em;
    font-weight: 600;
  }

  h5 {
    font-size: 1em;
    line-height: 2;
  }

  strong {
    font-weight: 400;
  }

  ul {
    margin-bottom: 1em;
  }

  li {
    line-height: 1.5;
    margin-left: 1.3em;
    margin-bottom: 0.5em;

    * {
      color: color(primary, text);
    }

    a {
      color: color(link);
    }
  }
}

.post {
  @include post;

  padding-bottom: 4em;
}

.post--short {
  @include post;

  h2 {
    line-height: 1.3;
    font-family: Hind, sans-serif;
    font-size: 2.1em;
    font-weight: 500;
  }

  &:first-of-type {
    margin-top: 0;
  }

  p {
    color: #888;
    font-weight: 300;
    line-height: 1.7;
    font-size: 1.07em;
    margin-bottom: 1em;
  }

  time {
    color: #555;
    font-weight: 400;
    margin-bottom: 1em;
    display: block;
    font-size: 0.98em;
  }
}
