@import '../../css/colors.scss';

.mapBox {
  height: 370px;

  & > *:nth-child(1) {
    width: 65%;
    float: left;
    height: 370px;
  }

  & > *:nth-child(2) {
    font-family: Montserrat, sans-serif;
    padding-left: 3%;
    width: 35%;
    float: left;
    padding-top: 3.5em;
    height: 370px;
    color: #fff;
    background-color: color(primary);

    span {
      width: 85%;
      float: left;
      display: block;
    }

    p {
      font-size: 1.2em;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 300;
      color: #fff;
      clear: both;
      line-height: 1.3;
      margin-bottom: 0.75em;

      &::after {
        content: '';
        display: table;
        clear: both;
      }
    }

    svg {
      margin-top: 5px;
      margin-right: 15px;
      float: left;
      width: 8%;
      display: block;
      text-align: center;
      text-shadow: 0 0 7px rgba(5, 133, 144, 0.23);
    }

    h3 {
      color: #fff;
      font-family: 'Montserrat', sans-serif;
      margin-bottom: 1.3em;
      font-size: 1.4em;
    }
  }
}
